spacy==3.4.0
st-annotated-text==3.0.0
streamlit==1.8.1
streamlit-multipage==0.0.18
streamlit-tags==1.2.8
torch==1.11.0
torch-tb-profiler==0.2.1
torchaudio==0.11.0
#torchvision==0.10.0
tokenizers
pke @ git+https://github.com/boudinfl/pke.git@dc4d5f21e0ffe64c4df93c46146d29d1c522476b
lt_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/lt_core_news_lg-3.4.0/lt_core_news_lg-3.4.0.tar.gz
transformers==4.8.1
pandas
protobuf==3.20
flashtext==2.7
